* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.main {
  height: 100vh;
  // background: rgb(210, 255, 248);
  // background: linear-gradient(0deg, rgba(210, 255, 248, 1) 0%, rgba(255, 123, 221, 1) 100%);
  background-image: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%);
}

.flex_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .wrap {
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    margin: 60px auto;
    .form {
      background-color: white;
      border-bottom-left-radius: 8px;
      border-top-left-radius: 8px;
      padding: 40px 60px;
      .field {
        margin-bottom: 20px;
        .field_label {
          margin-bottom: 10px;
        }

        .field_input input {
          height: 30px;
          width: 240px;
        }
      }
      .submit_button {
        width: 240px;
        height: 40px;
        border: inherit;
        color: white;
        background: #ff416c; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #ff416c, #ff4b2b); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #ff416c, #ff4b2b);
      }
      .forgot_pass {
        display: block;
        text-align: center;
        margin-top: 17px;
        &:hover {
          text-decoration: none;
        }
      }
      .other_social {
        p {
          text-align: center;
          color: rgb(197, 192, 184);
        }
        .social_container {
          display: flex;
          flex-direction: row;
          a {
            color: white;
            text-align: center;
            padding: 10px 30px;
            display: inline-block;

            &:hover {
              text-decoration: none;
            }
          }
          #google {
            background-color: #db4437;
          }
          #facebook {
            background-color: #4267b2;
            margin-left: 10px;
          }
        }
      }

      .register {
        p {
          margin-top: 10px;
          text-align: center;
          color: #b8b9bb;
          a {
            color: red;
          }
        }
      }
    }
    .about {
      padding: 40px 60px;
      background-color: #ff0041;
      border-bottom-right-radius: 8px;
      border-top-right-radius: 8px;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      .team_image {
        text-align: center;
        img {
          height: 150px;
          width: auto;
        }
      }
      .welcome {
        color: white;
      }
    }
  }
}
